<!DOCTYPE html>
<html>

<body>
    <p>technology</p>
    <form method="post" id="tech">
        <label for="technology">technology:</label><br>
        <input type="text" id="technology" name="technology">
        <input type="submit" id="tech-submit" value="Submit">
        <input type="text" id="technology" name="technology2">
    </form>

    <p>category</p>
    <form>
        <label for="technology2">technology2:</label><br>
        <select name="technology2" id="technology2">
            <option value="123">qweqweqwe</option>
        </select><br>
        <label for="category">category:</label><br>
        <input type="text" id="category" name="category">
        <input type="submit" value="Submit"><br>
    </form>

    <p>sections</p>
    <form>
        <label for="technology3">technology3:</label><br>
        <select name="technology3" id="technology3">
            <option value="123">qweqweqwe</option>
        </select><br>
        <label for="category2">category2:</label><br>
        <select name="category2" id="category2">
            <option value="123">qweqweqwe</option>
        </select><br>
        <label for="section">section:</label><br>
        <input type="text" id="section" name="section">
        <input type="submit" value="Submit"><br>
    </form>

</body>

</html>